
:root {
  --arka-plan: #ffffff;
  --yazi-rengi: #212529;
}

[data-theme='dark'] {
  --arka-plan: #121212 !important;
  --yazi-rengi: #f8f9fa !important;
}


html, body, #root, .App {
  background-color: var(--arka-plan) !important;
  color: var(--yazi-rengi) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}